<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCLA Events</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.light_blue-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84027200-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Wide card with share menu button -->

  <!-- Uses a header that contracts as the page scrolls down. -->
<style>
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}
</style>
  <style>

  .mdl-layout__header {
    color: white;
  }

  .mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: white;
    line-height: 64px;
    padding: 0 24px;
}
  .demo-card-wide.mdl-card {
    min-width: 35%;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    /*height: 100px;*/
    background: #03A9F4 center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  </style>

</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <a href="/">
          <span class="mdl-layout-title">UCLA Events</span>
        </a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/tag/dance">Dance</a>
          <a class="mdl-navigation__link" href="/tag/music">Music</a>
          <a class="mdl-navigation__link" href="/tag/art">Art</a>
          <a class="mdl-navigation__link" href="/tag/entrepreneurship">Entrepreneurship</a>
          <a class="mdl-navigation__link" href="/tag/fraternity">Fraternity</a>
          <a class="mdl-navigation__link" href="/tag/football">Football</a>
        </nav>
        <div class="mdl-cell mdl-cell-4-col">
        <form action="/search" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="search" id="site-search" name="query" placeholder="music"/>
              <label class="mdl-textfield__label" for="site-search">Search</label>
            </div>
          </div>
      </form>

    </div>
      </div>
    </header>
    <!-- <div class="mdl-layout__drawer">
   <span class="mdl-layout-title">UCLA Events</span>
   <nav class="mdl-navigation">
     <a class="mdl-navigation__link" href="">Link</a>
     <a class="mdl-navigation__link" href="">Link</a>
     <a class="mdl-navigation__link" href="">Link</a>
     <a class="mdl-navigation__link" href="">Link</a>
   </nav>
 </div> -->
    <main class="mdl-layout__content">
      <div class="page-content">
        <h2 style="text-align:center">Upcoming Events with "{{query}}"</h2>
        <div class="events" style="margin:0 auto">
          {{#each events}}
          <li>
            <div class="demo-card-wide mdl-card mdl-shadow--4dp" style="margin:0 auto">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{this.title}}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <p>
                  Hosted by {{this.host}}
                </p>
                <p>
                  {{this.prettyDate}}
                </p>
                <p>
                  Location: {{this.location}}
                </p>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{this.url}}">
                  Details
                </a>
              </div>
              <!-- <div class="mdl-card__menu">
                <span class="mdl-badge" data-badge="today"></span>
              </div> -->
            </div>
            <br />
          </li>
          {{/each}}
        </div>

      </div>
    </main>
  </div>
</body>
</html>
